body{
    font-family: 'Inter', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0.5,0.5)), url("../images/copenhagen.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 50px;
}

header h1{
    font-size: 50px;
}

header h3{
    letter-spacing: 5px;
    margin-bottom: 30px;
}

header a{
    background: white;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    margin-top: 20px;
}
header div{
    margin-top: 20px;
}

footer{
    text-align: center;
}

@media (max-width: 800px){
    header h1{
        font-size: 35px;
    }
}