body{
    font-family: 'Inter', sans-serif;
    background: #0b2e40
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0.5,0.5)), url("../images/copenhagen.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px;
}

header h1{
    font-size: 90px;
}

header h2{
    font-size: 40px;
}

header h3{
    letter-spacing: 5px;
    margin-bottom: 30px;
}

header a{
    background: white;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    margin-top: 20px;
}
header div{
    margin-top: 20px;
}

footer{
    margin: 0 auto;
    max-width: 1200px;
    background-image: linear-gradient(90deg, rgba(1,44,101,0.8) 0%, rgba(8,43,43,0.8) 67%, rgba(9,30,40,0.8) 100%, rgba(1,12,14,0.8) 100%), url("../images/copenhagen-footer.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.grid{
    display: grid;
}

.main{
    grid-template-columns: 1fr 1fr;
    text-align: justify;
    padding: 30px;
    grid-gap: 30px;
    background-color: white;
}

.main img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: 0 0;
}

.main div{
    padding: 30px;
}

.grid a{
    color: white;
}

.grid p{
    line-height: 25px;
}

.secondary{
    background-color: rgba(224, 207, 181, 0.856);
    padding: 100px;
}

.cards{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.card{
    background-color: white;
    box-shadow: 10px 10px 5px -3px rgba(184,184,184,1);
    
}

.card a{
    padding: 20px;
    width: 50%;
    background-color: rgb(80, 68, 245);
    color: white;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
}

.card-header{
    grid-template-columns: 1fr 1fr;
}

.card-header img{
    width: 100%;
    aspect-ratio: 1/1;
}

.card-header iframe{
    width: 100%;
    aspect-ratio: 1/1;
    display: block;
}

.card-body{
    padding: 30px;
}

.tertiary{
    background-color: burlywood;
    padding: 100px;
}

.instagram-posts{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}


.footer{
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
    grid-gap: 50px;
    padding: 30px;
}


@media (max-width: 600px){
    header h1{
        font-size: 35px;
    }
    header h2{
        font-size: 20px;
    }
    .grid{
        grid-template-columns: 1fr;
    }

    .grid p{
        font-size: 15px;
    }

    .main img{
        margin: auto;
    }
}
